@model SignalR.Chat.Models.Client
@using (Html.BeginForm("Loginuser", "Chat"))
{

    <div class="row">
        <div class="span2">
            <legend>Login</legend>
            <label>Nickname:</label>
            @Html.TextBoxFor(model => model.Name)
             <input type="submit" value="Login" />
        </div>

    </div>
}